/* Nav */
nav {
  width: 100%;
  top: 0;
}

/* Header */
header {
  margin: 1rem;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  background-color: tertiary;
}

header div img {
  padding: 0.5rem;
}

.img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.resume {
  display: flex;
  gap: 1rem;
}

.resume p {
  margin: 0;
}

/* form */
form {
  margin: 2.5rem 1rem;
}

@media (max-width: 740px) {
  header {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 586px) {
  .img img {
    width: 100%;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  header .profile {
    display: inline-block;
    text-align: center;
  }
} ;
